{% load static %}
<!DOCTYPE html>
{# Make modifiable head elements #}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">

    <title>Hawaiian Soil</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">
    <link rel="stylesheet" href="{% static "farms/style.css" %}">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
    <script src="https://js.arcgis.com/4.6/"></script>
    <script type="text/javascript" src="{% static "farms/farm_gis.js" %}"></script>

    <script>
        $('.ui .item').on('click', function() {
            $('.ui .item').removeClass('active');
            $(this).addClass('active');
        });
    </script>
</head>
<div id="site-wrapper">
    <header>
        <div class="ui inverted vertical center aligned segment">
            <div class="ui large inverted pointing menu">
                <div class="item">
                    <img src="{% static "farms/manoaseal.png" %}">
                </div>
                {# Left side of Menu with different page listings #}
                <a class="header item" href="{% url "farms:index" %}">Hawaiian Soil</a>
                <a class="item" href="{% url "farms:home" %}">Home</a>
                <a class="item" href="{% url "farms:farm" %}">Farms</a>
                <a class="item" href="{% url "farms:profile" %}">Profile</a>
                <a class="item" href="{% url "farms:about" %}">How to Use</a>
                {# Right Side of Menu with login info #}
                <div class="right menu">
                    {# If the user is logged in, display their username and a logout button #}
                    {% if user.is_authenticated %}
                        <div class="item">
                            You are logged in as: {{ user.username }}
                        </div>
                        <div class="item">
                            <a class="ui button" href="{% url "farms:logout" %}">Log Out</a>
                        </div>
                        {# If the user is not logged in, display the signup and login buttons #}
                    {% else %}
                        <div class="item">
                            <a class="ui primary button" href="{% url "farms:signup" %}">Sign Up</a>
                        </div>
                        <div class="item">
                            <a class="ui button" href="{% url "farms:login" %}">Log In</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <body>
    {# The Document Body #}
    <div id="body-wrapper">
        {% block content %}
            if you see this, something is wrong!
        {% endblock content %}
    </div>
    </body>
    {# The Footer #}
    <footer>
        <div id="footer-wrapper" class="footer">
            <div class="ui inverted vertical footer segment">
                <div class="ui container">
                    <div class="ui stackable inverted divided equal height stackable grid">
                        <div class="four wide column">
                            <h4 class="ui inverted header">About</h4>
                            <div class="ui inverted link list">
                                <a href="#" class="item">Sitemap</a>
                                <a href="#" class="item">Contact Us</a>
                            </div>
                        </div>
                        <div class="four wide column">
                            <h4 class="ui inverted header">Services</h4>
                            <div class="ui inverted link list">
                            </div>
                        </div>
                        <div class="four wide column">
                            <h4 class="ui inverted header">Hawaiian Soil</h4>
                            <p>2018 University of Hawaii at Manoa</p>
                        </div>
                        <div class="four wide column">
                            <img id="manoaseal" src="{% static "farms/manoaseal.png" %}" style="width: 25%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>
