{% extends 'farms/base.html' %}
{% block content %}

    <div id="homepage" class="ui centered stackable divided equal height grid">
        <div class="five wide column">
            <div class="ui card">

            </div>
        </div>
        <div class="three wide column">
        </div>
        <div class="eight wide column">
            <div id="viewDiv">
                <div id="draw-polygon" class="esri-widget-button esri-widget esri-interactive" title="Draw and measure polygon">
                    <span class="esri-icon-polygon"></span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}