{% extends 'farms/base.html' %}
{% load widget_tweaks %}
{% block content %}

    {# Load Bootstap Package #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <div class="ui text container segment" style="padding: 2em;">
        <div class="ui centered huge dividing header">
            Login
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="card border-success mb-3">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Username</label>
                            {% render_field form.username class="form-control" placeholder="username" %}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Password</label>
                            {% render_field form.password class="form-control" placeholder="password" %}
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Login</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}